@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.btn-primary {
    &, &:hover, &:active {
        color: #fff !important;
    }
}

.guest {
    background: linear-gradient(225deg, hsla(0, 0%, 100%, 1) 0%, hsla(26, 100%, 88%, 1) 100%);

    .logo-container {
        max-width: 100px;
    }

    .login {
        max-width: 350px;
    }

    .forgot-password, .verify-email, .reset-password {
        max-width: 500px;
    }
}

.app {
    background: linear-gradient(225deg, hsla(0, 0%, 100%, 1) 0%, hsla(26, 100%, 88%, 1) 100%);
}

.table {
    thead th {
        color: $primary;
        white-space: nowrap;

        a {
            text-decoration: none;
        }
    }

    tbody th {
        width: 0;
    }

    .actions {
        width: 0;
        white-space: nowrap;
    }
}
